@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Liquor Inventory</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About</h2>
        <p>
            This is an application to assist in pour cost and providing accurate pricing for cocktails.  This is a sample 
            application meant to help illustrate my understanding of MVC and Code First programming
        </p>
    </div>
    <div class="col-md-4">
        <h2>Pour Cost</h2>
        <p>
            This application will assist the user to accurately calculate pour cost for individual bottles and if programmed correctly will
            in tracking pour cost from month to month.  
        </p>
    </div>
    <div class="col-md-4">
        <h2>Inventory Control</h2>
        <p>
            Inventory Control is one of the most important aspect of any business.  Aside from labor, Inventory is the next biggest cost 
            for any small business or corporation.  The goal of this application is to assist in controlling inventory
            providing an interface that will allow a user to set cost, price, or pour cost as a percentage to reflect the cost 
            or profit of any particular item
        </p>
    </div>
</div>